<%= form_tag '/stocks' do %>
	<div id="form_div">
		<div class="inner_div">
			<%= label_tag "Stock Symbol"%>
			<%= text_field_tag :stock_symbol %>
		</div>
		<div class="inner_div">
			<%= label_tag "Option Volume Greater Than" %>
			<%= text_field_tag :lower_limit %>
		</div>
		<div class="inner_div">
			<%= label_tag "Option Volume Less Than" %>
			<%= text_field_tag :upper_limit %>
		</div>
	</div>
	<div>  
		<%= submit_tag "Search Options" %>
	</div>
<% end %>

<table class="blue">
  <thead>
    <tr>
      <th>Stock Symbol</th>
      <th>Last</th>
      <th>Bid</th>
      <th>Ask</th>
      <th>Volume</th>
      <th>Open Interest</th>
      <th>Bid/Ask Difference</th>
    </tr>
  </thead>
 
  <tbody >
  <div class="table-stuff">
    <tr>
      <% if @stock_info %>
      <td><%= @stock_info['quotes']['quote']['symbol'] %></td>
	  <td><%= number_to_currency(@stock_info['quotes']['quote']['last']) %></td>
	  <td><%= number_to_currency(@stock_info['quotes']['quote']['bid']) %></td>
	  <td><%= number_to_currency(@stock_info['quotes']['quote']['ask']) %></td>
	  <td><%= number_with_delimiter(@stock_info['quotes']['quote']['volume'].round(0)) %></td>
	  <td></td>
	  <td><%=  number_to_currency(sprintf "%.2f", (@stock_info['quotes']['quote']['ask'] - @stock_info['quotes']['quote']['bid'])) %></td>
	  <% end %>
    </tr>

    <tr>
      <td><%= @option_info['quotes']['quote']['symbol'] %></td>
      <td><%= number_to_currency(@option_info['quotes']['quote']['last']) %></td>
      <td><%= number_to_currency(@option_info['quotes']['quote']['bid']) %></td>
      <td><%= number_to_currency(@option_info['quotes']['quote']['ask']) %></td>
      <td><%= number_with_delimiter(@option_info['quotes']['quote']['volume'].round(0)) %></td>
      <td><%= number_with_delimiter(@option_info['quotes']['quote']['open_interest'].round(0)) %></td>
      <td><%=  number_to_currency(sprintf "%.2f", (@option_info['quotes']['quote']['ask'] - @option_info['quotes']['quote']['bid'])) %></td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
       <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
        <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
       <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    <tr>
      <td>Non</td>
      <td>Mais</td>
      <td>Allo !</td>
    </tr>
    </div>
  </tbody>
</table>
